.sandwichContainer {
    grid-column: 5;
    height: 100vmin;
    grid-row: 1 / span 2;
}

.sandwichComp {
    max-width: 200px;
    min-width: 164px;
    background-color: black;
    grid-area: rNav;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 30px 20px 20px 1fr;
    transform: translateX(110%);
    transition: transform 0.6s ease-out;
}

.sandwichComp.slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 30px 20px 20px 1fr;
    transform: translateX(0);
}

.sandwichComp h4 {
    font-family: Chap Light;
    font-weight: normal;
    font-size: 24px;
}

#sandwichMenuExit {
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
}


#sandwichSarah {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

#sandwichAlonso {
    grid-column: 1 / span 2;
    grid-row: 3;
    justify-self: center;
    align-self: end;
}

#sandwichDesign {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
    align-self: start;
    font-size: 20px;
    margin-top: -12px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #707070;
}

#sandwichLinks {
    padding: 0;
    margin-top: -200px;
    margin-left: -50px;
    text-align: left;
    list-style-type: none;
    grid-column: 1/ span 2;
    grid-row: 5;
    line-height: 25px;
    font-family: Chap Light;
    font-size: 16px;
    align-self: center;
    justify-self: center;
}

#sandwichLinks li {
    padding-left: 10px;
    padding-bottom: 20px;
    grid-row: 5;
    grid-column: 1;
}


@media only screen and (max-width: 600px) {
    .sandwichComp h4 {
        margin-left: 20px;
    }

    #sandwichLinks {
        margin-left: 5px;
    }
}