@media (max-width: 675px) {
    .workPageHeading {
        margin-left: 10px;
        font-size: 12.296296296296298VW;
        line-height: 70px;
        width: 90%;
        height: min-content;
    }

}

@media (max-width: 600px) {
    .workDiv {
        display: grid;
        grid-template-columns: minmax(88px, 10%) 1fr;    
    }
}

@media (max-width: 500px) {
    .workPageHeading {
        line-height: 50px;
        font-size: 43px;
        height: min-content;
        grid-column: 1 / span 2;
    }
    .workList {
        grid-column: 1 / span 2;
    }
}
