@media only screen and (max-width: 414px) {
    .designTraining {
        grid-template-columns: 20% 2fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
    }

    #dtBorder {
        border-right: 1px solid white;
        grid-column: 1;
        grid-row: 1 / span 3;
        z-index: 300;
    }

    #designTrainingTitle {
        display: none;
    }

    #rumbleGram1, #rumbleGram2 {
        object-fit: fill;
        width: 340pt;
        height: 273pt;
    }

    #rumbleSlideShow {
        /* width: 100%; */
        margin-top: 50px;
        width: 340pt;
        height: 273pt;
        grid-row: 1;
        grid-column: 2 / span 3;
        justify-self: center;
    }

    #dtDescriptorDiv {
        width: 80%;
        grid-row: 2;
        grid-column: 2 / span 3;
        align-self: start;
        justify-self: center;
        margin-top: 45px;
        margin-left: 10px;
        padding-bottom: 100px;
    }

    #dtDescription {
        font-size: 16px;
    }

}