@media only screen and (max-width: 1233px) {
    #goodDesignTitle {
        font-size: 100px;
    }

    #daBG h1 {
        font-size: 100px;
    }
}

@media only screen and (max-width: 1154px) {
    #goodDesignTitle {
        font-size: 90px;
    }
    #daBG h1 {
        font-size: 90px;
    }
}

@media only screen and (max-width: 1040px) {
    #goodDesignTitle {
        font-size: 80px;
    }
    #daBG h1 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 964px) {
    #goodDesignTitle {
        font-size: 70px;
    }

    #daTitle {
        margin-top: 0;
    }
    #daTitleDescription {
        margin-top: 0;
        font-size: 19px;
    }
    #daBG h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 845px) {
    #goodDesignTitle {
        font-size: 60px;
    }
    #daBG h1 {
        font-size: 60px;
    }
}

@media only screen and (max-width: 722px) {
    #goodDesignTitle {
        font-size: 50px;
    }
    #daBG h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 653px) {
    #goodDesignTitle {
        font-size: 47px;
    }
}

@media only screen and (max-width: 627px) {
    #goodDesignTitle {
        font-size: 45px;
    }
}


/***************************
***IPHONE PLUS SCREEN SIZE**
****************************/

@media only screen and (max-width: 414px) {
    .slide {
        height: 100%;
    }
    .designersArt {
        display: grid;
        grid-template-columns: 72px 1fr;
   }

    #goodDesignTitle {
        font-size: 45px;
        font-family: Chap Light;
        grid-row: 1;
        grid-column: 2;
        align-self: start;
        justify-self: start;
        margin-top: 0;
        margin-left: 10px;
        padding: 0;
        line-height: 1;
        /* box-sizing: border-box; */
        text-align: left;
    }

    #daTitle {
        font-size: 34px;
        margin-left: 10px;
        text-align: left;
        grid-column: 2 /span 3;
        grid-row: 2;
        /* width: 75%; */
        height: 50%;

    }

    #daTitleDescription {
        grid-column: 2 / span 3;
        width: 75%;
        grid-row: 3;
        font-size: 16pt;
        margin-left: 10px;
        margin-top: 0;
    }

    #arr1 {
        margin-top: 2.0rem;
        margin-right: 5px;
        grid-row: 3;
        grid-column: 3;
        align-self: start;
        justify-self: center;
    }

    #daBG {
        background-image: url('../images/glitchSAWebStroke_Mobile.png');
        background-size: cover; 
        background-position: center center;
        grid-row: 4;
        height: 70vh;
        display: grid;
        grid-template-rows: 1fr 100px;
    }

    #daBG h1 {
        font-size: 38pt;
        /* font-size: 3.167em; */
        line-height: 1;
        grid-column: 2 / span 4;
        grid-row: 1 / span 2;
        justify-self: start;
        align-self: start;        
    }

    #daAuthor {
        font-size: 20pt;
        grid-row: 1;
        grid-column: 2 / span 4;
        line-height: 1;
        align-self: end;
        margin-bottom: -40px;
        margin-left: 10px;
    }

    #myBrand {
        grid-row: 2;
        grid-column: 3;
        align-self: start;
        justify-self: center;
        margin-top: 70px;
    }

    #arr2 {
        grid-row: 2;
        grid-column: 4;
        margin-top: 60px;
        align-self: start;
    }
}