@media only screen and (max-width: 700px)
 {
    body {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        width: 100%;
    }


    .intro {
    position: relative;
    background-image: url('../images/placeDoubleExposure_Mobile.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    display: grid;
    grid-template-columns: 20% 1fr 1fr 35%;
    grid-template-rows: 1fr 40vmin 1fr 1fr;
    grid-template-areas:
        "lNav header header rNav"
        "lNav quote quote rNav"
        "lNav quote quote rNav"
        "lNav goal goal rNav";
    }

    .rightNav {
        margin-top: -5px;
    }

    header{
        margin-top: -20px;
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 10vmin 10vmin 10vmin 10vmin;
        grid-template-areas:
        ". ." 
        "sarah ."
        "alonso alonso"
        "design ."
        ". year" ;
        grid-gap: 10px;
    }

    header h1 {
        font-size: 49px;
    }

    header #sarah {
        margin-left: 1vmin;
    }

    header #alonso {
        margin-left: 10vmin;
    }

    header #design {
        margin-left: 1vmin;
    }

    #year {
        margin-top: 20px;
        font-size: 31px;
        grid-column: 2;
        grid-row: 3;
    }

    #quote {
        position: absolute;
        top: 25%;
        margin-left: 10px;
        /* align-self: center; */
        /* grid-column: 2 /span 3; */
        /* box-sizing: border-box; */
        width: 65vmin;
    
    }

    #focusQuote {
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.5px;
        text-align: left;
        background-color: rgb(0,0,0,0.5);
        padding: 5px;
        border-radius: 1px;
    }

    #authorQuote {
        margin-top: 10px;
        margin-left: 0;
        font-size: 11px;
        float: right;
        background-color: rgb(0,0,0,0.5);
        padding: 5px;
        border-radius: 1px;
    }

    #saLogo {
        width: 48.05px;
        height: 39.48px;
    }

    #goalDiv {
        grid-column: 2 / span 3;
        position: absolute;
        bottom: 0;
    }

    #goal {
        margin-top: 200px;
        margin-left: 10px;
        font-size: 45px;
        line-height: 1;
        text-align: left;
    }

    #arrow {
        position: absolute;
        bottom: 0;
    }

    #redArrowDown{
        position: absolute;
        bottom: 0;
    }

    #hours {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    

}