@media (min-width: 768px) and (max-width: 1100px) {
    .designersArt {
        grid-template-rows: repeat(5, min-content);
    }

    #daTitle {
        margin-top: 50px;
        grid-row: 2;
    }

    #daTitleDescription {
        grid-row: 3;
        grid-column: 2 / span 3;
        /* margin-top: 50px; */
        margin-left: 10px;
    }

    .arrowLink {
        grid-row: 4;
        margin-top: 0;
        /* padding-bottom: 50px; */
    }

    #daBG {
        grid-row: 5;
    }

    #daBG h1{
        line-height: 90px;
    }

    #daAuthor {
        grid-row: 2;
        grid-column: 2 / span 3;
    }

    #myBrand {

    }

    #arr2 {
        align-self: center;
        /* margin-top: 20px; */
    }

}

@media (min-width: 600px) and (max-width: 767px) {
    .designersArt {
        grid-template-rows: repeat(5, min-content);
    }
  #daTitle {
      grid-row: 2;
      grid-column: 2 / span 3;
      align-self: center;
      margin-top: 50px;
      height: 20px;
      /* margin-top: 50px; */
      /* margin-bottom: -50px; */
  }

  #daTitleDescription {
      grid-row: 3;
      align-self: start;
      grid-column: 2 / span 3;
      margin-left: 10px;
  }

  .arrowLink {
      grid-column: 4;
      grid-row: 4;
      justify-self: center;
      align-self: end;
      margin-bottom: 30px;
      margin-left: 0;
      margin-top: 0;
  }

  #daBG {
    grid-row: 5;
    line-height: 30px;
    height: 50%;
  }

  #daBG h1 {
      line-height: 50px;
  }

  #daAuthor {
      margin-left: 20px;
      grid-row: 2;
      align-self: end;
  }
  
}

@media (min-width: 481px) and (max-width: 599px) {
    .designersArt {
        grid-template-rows: repeat(5,min-content);
    }
    #daTitle {
        grid-row: 2;
        grid-column: 2 / span 3;
        align-self: start;
        margin-top: 20px;
        font-size: 25px;
        height: 20px;
    }

    #daTitleDescription {
        grid-column: 2 / span 3;
        grid-row: 3;
        margin-left: 10px;
        font-size: 19px;
    }

    .arrowLink {
        grid-column: 3;
        grid-row: 4;
        justify-self: center;
        align-self: end;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    #daBG {
        line-height: 30px;
        height: 60%;
        grid-row: 5;
    }

    #daBG h1 {
        margin-right: 50px;
        line-height: 50px;
        grid-column: 2 / span 4;
    }

    #daAuthor {
        margin-left: 20px;
        grid-row: 2;
        align-self: end;
    }
  
    #myBrand {
        align-self: end;
        margin-bottom: 19px;
    }

    #arr2 {
        align-self: end;
    }
}

@media (min-width: 410px) and (max-width: 480px) {

    .designersArt {
        grid-template-rows: repeat(5, min-content);
    }
    
    #daTitle {
        grid-row: 2;
        grid-column: 2 / span 4;
        font-size: 25px;
        /* font-size: 6.6815144766147VW;  */
        align-self: end;
        /* margin-top: 15px; */
    }

    #daTitleDescription {
        grid-column: 2 / span 2;
        grid-row: 3;
        margin-left: 10px;
        font-size: 16px;
    }

    .arrowLink {
        grid-column: 3;
        grid-row: 4;
        justify-self: end;
        margin: 0;
        padding-bottom: 20px;
    }

    #daBG {
        grid-row: 5;
        line-height: 30px;
        height: 60%;
    }

    #daBG h1 {
        margin-right: 50px;
        line-height: 50px;
        grid-column: 2 / span 4;
    }

    #daAuthor {
        margin-left: 20px;
        grid-row: 2;
        align-self: end;
        font-size: 16px;
        line-height: 20px;
    }
  
    #myBrand {
        align-self: center;
        font-size: 20px;
        /* margin-bottom: 19px; */
    }

    #arr2 {
        align-self: center;
    }
}

@media (max-width: 409px) {
    .designersArt {
        grid-template-rows: repeat(5, min-content);
    }
    #goodDesignTitle {
        grid-column: 1 / span 4;
        grid-row: 1;
        padding-bottom: 50px;
    }

    #daTitle {
        grid-column: 1 / span 3;
        grid-row: 2;
        font-size: 20px;
        align-self: start;
        /* margin-top: 15px; */
    }

    #daTitleDescription {
        grid-column: 1 / span 3;
        grid-row: 3;
        align-self: center;
        font-size: 13px;
        margin-left: 20px;
        /* margin-top: -10px; */
    }

    .arrowLink {
        grid-column: 3 / span 4;
        grid-row: 4;
        align-self: center;
        justify-self: center;
        margin: 5px;
        padding-bottom: 20px;
        /* margin-bottom: 25px; */
    }

    #daBG {
        grid-row: 5;
        background-image: url('../images/glitchSAWebStroke_Mobile.png');
        background-size: cover; 
        background-position: center center;
        line-height: 30px;
        height: 60%;
    }

    #daBG h1 {
        margin-right: 50px;
        line-height: 40px;
        grid-column: 1 / span 4;
    }

    #daAuthor {
        margin-left: 20px;
        grid-column: 1/span 3;
        grid-row: 2;
        align-self: center;
        font-size: 16px;
        line-height: 20px;
    }
  
    #myBrand {
        align-self: center;
        font-size: 20px;
        /* margin-bottom: 19px; */
        grid-column: 1 / span 2;
    }

    #arr2 {
        align-self: center;
        grid-column: 3;
    }
    
}

@media (max-width: 357px) {


    #daTitle {
        grid-column: 1 / span 4;
        align-self: center;
        margin-top: 50px;
        /* margin-top: -50px; */
    }
    
    #daTitleDescription {
        grid-row: 3;
        margin-top: 0;
        /* align-self: end; */
        /* margin-bottom: 0;
        margin-top: 0; */
        /* height: min-content;
        padding: 0; */
    }

    #arr2 {
        align-self: center;
        grid-row: 3;
        grid-column: 3;
        /* padding-bottom: 20px; */
    }

    #daBG {
        grid-row: 5;
    }
}

@media (max-width: 330px) {
    #daTitle {
        align-self: start;
    }
}

/******************
HEIGHT PROPERTIES
*******************/

@media (max-height: 450px) {
    #daTitle {
        padding-bottom: 10px;
        padding-top: 10px;
    }

}

@media (max-width: 250px) {
    #daTitle {
        display: none;
    }
}



@media (max-width: 767px) and (min-height: 300px) {
    /* #daTitle {
        display: none;
    } */

    .arrowLink {
        justify-self: center;
    }
}


/* 
@media (min-height:401px) and (max-height: 500px) {

    #daTitle {
        color: yellow;
        grid-row: 2;
        grid-column: 2 / span 4;
        align-self: start;
        margin-top: -2px;
    }
    #daTitleDescription {
        align-self: center;
        grid-column: 2 / 4;
        margin-left: 10px;
    }

    #arr1 {
        grid-column: 4;
        justify-self: start;
    }
}

@media (max-height: 400px){


    #daBG h1 {
        color: red;
    }

    #daAuthor {
        grid-row: 2;
        margin: 0;
    }
    
}

@media (min-height: 350px) and (max-height: 399px) {
    #daBG h1 {
        color: green;
    }

    #daTitle {
        color: orange;
        margin-top: 0;
        font-size: 30px;
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 0;
        align-self: start;
    }

    #daTitleDescription {
        margin-top: 0;
        font-size: 20px;
        grid-column: 3;
        grid-row: 2;
    }

    #arr1 {
        grid-column: 4;
        grid-row: 2;
        margin:0;
        justify-self: start;
    }

    #daAuthor {
        align-self: center;
    }
}

@media (max-height: 349px) {
#daBG h1 {
        color: green;
    }

    #daTitle {
        color: red;
        margin-top: 0;
        font-size: 30px;
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 0;
        align-self: start;
    }

    #daTitleDescription {
        margin-top: 0;
        font-size: 20px;
        grid-column: 3;
        grid-row: 2;
    }

    #arr1 {
        grid-column: 4;
        grid-row: 2;
        margin:0;
        justify-self: start;
    }

    #daAuthor {
        align-self: center;
    }
}

@media (min-width: 410px)
    and (max-width: 550px)
    and (min-height: 370px) 
    and (max-height: 420px) {
    #daTitle {
        color: pink;
        grid-row: 1;
        grid-column: 2 / span 4;
        font-size: 25px;
    }

    #daTitleDescription {
        grid-column: 2 / span 4;
        align-self: center;
        font-size: 17px;
    }

    #arr1{
        grid-column: 3;
    }
}

@media (max-width: 409px) and (max-height: 369px) {
    #daTitle {
        color: maroon;
        grid-column: 1 / span 4;
        align-self: end;
        margin-bottom: -10px;
        font-size: 25px;
    }

    #daTitleDescription {
        grid-column: 1 / span 4;
        align-self: start;
        font-size: 17px;
    }

    #arr1 {
        align-self: center;
        margin-top: 50px;
        grid-column: 3;
    }
} */