@media (min-width: 768px) and (max-width: 1024px) {
  
  #sarah, #alonso, #design {
    line-height: 55px;
  }

  #year {
    grid-column: 4;
    justify-self: start;
  }

  #quote {
    justify-self: end;
    margin-right: 50px;
  }

  #focusQuote {
    font-size: 17px;
  }

  #authorQuote {
    font-size: 13px;
  }

  #arrow {
    grid-column: 5;
    align-self: center;
  }

  #goal {
    padding-left: 10px;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  
  header {
    width: 65%;
  }

  #sarah, #alonso, #design {
    line-height: 45px;
  }

  #year {
    grid-column: 4;
    
  }

  #quote {
    display: none;
    grid-row: 1;
    align-self: center;
    grid-column: 2 / span 5;
    justify-self: center;
    margin-right: 20px;
    margin-top: 7 0px;
    width: 50%;
    /* background-color: black; */
  }

  #focusQuote {
    font-size: 17px;
  }

  #authorQuote {
    justify-self: end;
    font-size: 12px;
  }

  #arrow {
    grid-column: 5;
    padding-top: 25px;
    
  }
  
}

@media (min-width: 450px) and (max-width: 480px) {

  .sandwichButtonContainer {
    grid-column: 4;
    grid-row: 1;
    justify-self: start;
  }

  header {
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    margin-top: 30px;
    margin-left: 25px;
    width: 100%;
  }

  #sarah, #alonso, #design {
    line-height: 39px;
    font-size: 49px;
  }

  #year {
    font-size: 35px;
    grid-column: 3;
    grid-row: 1;
    justify-self: start;
    align-self: end;
    margin-bottom: 150px;
  }

  #quote {
    display: none;
  }

  /* #arrow {
    grid-column: 4;
    justify-self: start;
  } */
  
  #goalDiv {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 5px;
  }
}

@media (min-width: 410px) and (max-width: 449px) {

  #saLogo {
    transform: translateX(0%);
  }

  #hours {
    display: none;
  }

  header {
    grid-column: 4 / span 5;
    justify-self: start;
    align-self: start;
    width: 70%;
    margin-top: 30px;
  }

  #sarah, #alonso, #design {
    line-height: 45px;
    font-size: 49px;
    font-size: 12.827225130890053VW;
  }

  #year {
    grid-column: 5;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    font-size: 35px;
    margin-bottom: -50px;
    
  }  

  #quote {
    display: none;
  }

  /* #arrow {
    grid-column: 5;
    align-self: start;
  } */

  .sandwichButtonContainer {
    grid-column: 5;
    justify-self: end;
    margin-left: 10px;
  }

  #goalDiv {
    margin-bottom: 7px;
  }

}

@media (max-width: 500px) {
  .containerBorder {
    border: none;
  }

  #saLogo {
    transform: translateX(0%);
  }

  #hours {
    display: none;
  }

  .sandwichButtonContainer {
    grid-column: 4 / span 5;
  }

  header {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    align-self: start;
    margin-top: 50px;
    width: 100%;
  }

  #sarah, #alonso, #design {
    line-height: 40px;
    font-size: 49px;
  }

  #year {
    font-size: 40px;
    grid-column: 4 / span 5;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    margin-top: 0;
  }

  #quote {
    display: none;
  }

  #arrow {
    grid-column: 5;
  }

  #goalDiv {
    grid-column: 1;
    margin-bottom: 8px;
  }

}

@media (max-width: 360px) {
  #year {
    align-self: end;
  }
}

/***************
HEIGHT PROPERTIES
*****************/


@media (max-height: 500px) {
  #quote {
    display: none;
  }

  #hours {
    display: none;
  }
  
  #arrow {
    justify-self: end;
  }
}
