@media (max-width: 982px) {

    .smallBusiness {
        grid-template-columns: minmax(88px, 10%) auto auto;
        grid-template-rows: min-content min-content min-content;
    }

    #smlHeading {
        top: 0;
    }

    #lrgROI {
        bottom: 0;
    }

    #onethousand {
        bottom: 0;
    }

    #pdbQuote {
        align-self: start;
        justify-self: center;
        font-size: 16px;
        grid-column: 2 / span 3;
    }

    #phoDauBoLink {
        grid-row: 3;
        grid-column: 2;
        justify-self: end;
        align-self: start;
        font-size: 20px;
        /* font-size: 5.747126436781609VW; */
        
    }

    #pdbArrow {
        margin-left: 0;
        grid-column: 3;
        grid-row: 3;
        justify-self: start;
        align-self: start;
        margin-top: -12px;
    }
}

@media (max-width: 409px) {
    .smallBusiness {
        grid-template-rows: min-content min-content min-content;
    }

    #smlContainer {
        grid-column: 1 / span 3;
    }

    #smlHeading {
        top: 0;
    }

    #lrgROI {
        bottom: 0;
    }

    #onethousand {
        bottom: 0;
    }
    #pdbQuote {
        grid-column: 1 / span 3;
    }

    #phoDauBoLink {
        grid-column: 1 / span 3;
        justify-self: start;
    }

    #pdbArrow {
        grid-column: 2 / span 3;
        justify-self: center;
        margin-left: 50px;
    }
}