*{
  margin: 0;
}


.App {
  text-align: center;
}

.slide {
  height: 100vmin;
}

h1{
  margin:0;
}

/*****************
INTRO PAGE SECTION
******************/
.intro {
  background-image: url('./images/introbg.png');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 1fr 40vmin 1fr 1fr;
  grid-template-areas:
    "lNav header header rNav"
    "lNav . quote rNav"
    "lNav . arrow rNav"
    "lNav goal goal rNav";
}

.leftNav {
  grid-area: lNav;
  display: flex;
  border-right: 1px solid white;
}

#saLogo {
  position: fixed;
  margin: 10px 0 0 10px;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 50px 15vmin 15vmin 1fr; */
  grid-template-rows: 50px 10vmin 10vmin 10vmin;
  grid-template-areas:
    ". ." 
    "sarah ."
    "alonso alonso"
    "design year";
  grid-gap: 0 10px;
}

header h1 {
  margin: 0;
  padding: 0;
  font-family: Chap, Light;
  font-size: 87px;
  font-weight: normal;
}

header #sarah {
  grid-area: sarah;
  align-self: start;
  justify-self: start;
  margin-left: 5vmin;
}

header #alonso {
  grid-area: alonso;
  justify-self: start;
  margin-left: 30vmin;
  align-self: start;
}

header #design {
  grid-area: design;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;
  margin-left: 5vmin; 
}
header #year {
  grid-area: year;
  justify-self: middle;
}

#quote {
  grid-area: quote;
  align-self: center;
}

#focusQuote {
font-family: Arimo;
font-size: 23px;
}

#authorQuote {
  font-family: Arimo;
  font-size: 19px;
}

#arrow {
  grid-area: arrow;
}

#goalDiv {
  grid-area: goal;
  margin-top: 14px;
  line-height: 7em;
}
#goal {
  font-family: Chap Light;
  font-weight: normal;
  font-size: 107px;
  color: white;
}

/*********************
DESIGNERS ART SECTION
**********************/
.designersArt {
  background-color: black;
  display: grid;
  min-height: 170vmin;
  grid-template-columns: 10% 1fr 1fr 5%;
  grid-template-rows: minmax(30vmin, auto) 40vmin minmax(60vmin, auto) minmax(15vmin, auto);
}

#border {
  grid-column: 1;
  grid-row: 1 / span 8;
  border-right: 1px solid white;
}

.designersArt h1 {
  margin-top: 40px;
  grid-column: 2;
  grid-row: 2;
  height: 15vmin;
  align-self: start;
  color: #D9D9D9;
  font-family: Arimo;
  font-weight: normal;
  font-size: 35px;
}

.designersArt p {
  grid-column: 3;
  grid-row: 2;
  align-self: start;
  text-align: left;
  /* grid-area: daDescription; */
  color: white;
  font-family: Arimo;
  font-size: 23px;
}

#arr1 {
  color: white;
  align-self: start;
  grid-column: 4;
}

#daBG {
  background-image: url('./images/webstrokebg.png');
  grid-column: 1 / span 4;
  grid-row: 3 / span 5;
  line-height: 6em;
}

#daBG h1{
  color: white;
  padding: 0;
  grid-row: 3;
  text-align: left;
  margin-left: 30vmin;
  font-family: Chap Light;
  font-weight: normal;
  font-size: 110px;
  margin-top: 40px;
}

#daAuthor {
  grid-column: 2 / span 3;
  grid-row:4;
  font-size: 24px;
  font-family: Arimo;
  margin-left: 100px;
  color: #D9D9D9;
}

#buildBrand {
  grid-column: 3;
  grid-row: 4;
  align-self: end;
  font-family: Arimo;
  font-size: 34px;
  color: #D9D9D9;
}

#arr2 {
  grid-column: 3;
  grid-row: 4;
  align-self: end;
  justify-self: end;
}
/************************
DESIGN TRAINING SECTION
************************/

.designTraining {
  background-color: black;
  display: grid;
  grid-template-columns: 10% 1fr 1fr;

}

#dtBorder {
  grid-column: 1;
  border-right: 1px solid white;
}

#dtDescriptorDiv {
  grid-column: 2;
  color: white;
  align-self: center;
}

#dtDescriptorDiv h3 {
  color: #D9D9D9;
  font-family: Arimo;
  font-size: 34px;
  font-weight: normal;
}

#dtDescriptorDiv p {
  font-family: Arimo;
  font-size: 23px;
}

#rumbleSlideShow {
  grid-column: 3;
  align-self: center;
}

#rumbleGram1 {
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/**********************
SMALL BUSINESS SECTION
***********************/
.smallBusiness {
  background-color: black;
  display: grid;
  grid-template-columns: 10% 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#pdbBorder {
  grid-column: 1;
  grid-row: 1 / span 2;
  border-right: 1px solid white;
}

#smlHeading {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
  margin-left: 40px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: Chap Light;
  font-size: 82px;
  font-weight: normal;
}

#pdb {
  background-color: rgba(0, 0, 0, 0.6);
  grid-column: 2 / span 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  margin-left: 40px;
  height: 358.66px;
  width: 956.42px;
  object-fit: none;
}

#pdbGlitch {
  grid-column: 2;
  grid-row: 1;
  height: 542.4px;
  width: 980.49px;
}

#lrgROI {
  color: white;
  font-family: Chap Light;
  font-size: 82px;
  font-weight: normal;
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  justify-self: start;
  margin-left: 40px;
  margin-bottom: 47px;

}

#onethousand {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: Chap Light;
  font-size: 82px;
  font-weight: normal;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: end;
  margin-bottom: 60px;
  margin-right: 115px;
}

#pdbQuote {
  font-family: Arimo;
  color: white;
  font-size: 24px;
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

#pdbArrow {
  grid-column: 3;
  grid-row: 2;
  color: white;
  align-self: center;
}

/******************
BLOG SECTION
*******************/
.blog {
  background-color: black;
  display: grid;
  grid-template-columns: 10% 1fr 1fr;
}

#blogBorder {
  grid-column: 1;
  border-right: 1px solid white;
}

#blogGlitch {
  grid-column: 2;
  grid-row: 1;
  margin-left: -100px;
  height: 85%;
}

#saPic {
  grid-column: 2;
  grid-row: 1;
  opacity: 0.3;
  align-self: center;
}

#blogDescription {
  grid-column: 2 / span 3;
  grid-row: 1;
  align-self: end;
  justify-self: end;
  text-align: left;
  margin-right: 125px;
}

#blogDescription h3 {
  font-family: Arimo;
  font-size: 36px;
  font-weight: normal;
  color: #D9D9D9;
}

#blogDescription p {
  color: white;
  font-size: 23px;
}

#blogLink {
  font-family: Arimo;
  font-size: 36px;
  color: #D9D9D9;
}

/******************
CONTACT SECTION
******************/
.contact {
  min-height: 70vmin;
  background-color: black;
  display: grid;
  grid-template-columns: 10% 1fr;
  grid-template-rows: 10vmin 1fr;
  grid-gap: 10vmin;
}

#contactBorder {
  grid-column: 1;
  grid-row: 1 / span 2;
  border-right: 1px solid white;
}

#contactInfo {
  grid-column: 2;
  grid-row: 2;
  border-top: 1px solid white;
  display: grid;
  grid-template-columns: 75%;
}

#contactMe {
  margin-top: 11px;
  font-family: Arimo;
  font-size: 18px;
  color: #D9D9D9;
  font-weight: normal;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-self: start;
}

#contactAddress {
  margin-top: 11px;
  font-family: Chap Light;
  font-size: 16px;
  color: #D9D9D9;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-self: center;
}

#contactPhone {
  margin-top: 11px;
  font-family: Chap Light;
  font-size: 11px;
  color: #D9D9D9;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-self: end;
}

#collaborate {
  font-family: Arimo;
  font-size: 12px;
  color: white;
  grid-column: 1;
  grid-row: 2;
  justify-self: start;
  align-self: center;
}

#socialMedia {
  font-family: Arimo;
  font-size: 11px;
  color: #D9D9D9;
  text-align: left;
  grid-row: 3;
  align-self: end;
  line-height: 2em;
}