*{
  margin: 0;
}

.App {
  text-align: center;
}

.slide {
  height: 100vmin;
}

h1{
  margin:0;
}

/*****************
INTRO PAGE SECTION
******************/
.intro {
  background-image: url('./images/introbg.png');
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 1fr 40vmin 1fr 1fr;
  grid-template-areas:
    "lNav header header rNav"
    "lNav . quote rNav"
    "lNav . arrow rNav"
    "lNav goal goal rNav";
}

.leftNav {
  grid-area: lNav;
  display: flex;
  border-right: 1px solid white;
}

#saLogo {
  position: fixed;
  margin: 10px 0 0 10px;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 50px 15vmin 15vmin 1fr; */
  grid-template-rows: 50px 10vmin 10vmin 10vmin;
  grid-template-areas:
    ". ." 
    "sarah ."
    "alonso alonso"
    "design year";
  grid-gap: 0 10px;
}

header h1 {
  margin: 0;
  padding: 0;
  font-family: Chap, Light;
  font-size: 87px;
  font-weight: normal;
}

header #sarah {
  grid-area: sarah;
  align-self: start;
  justify-self: start;
  margin-left: 5vmin;
}

header #alonso {
  grid-area: alonso;
  justify-self: start;
  margin-left: 30vmin;
  align-self: start;
}

header #design {
  grid-area: design;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  justify-self: start;
  margin-left: 5vmin; 
}
header #year {
  grid-area: year;
  justify-self: middle;
}

#quote {
  grid-area: quote;
  align-self: center;
}

#focusQuote {
font-family: Arimo;
font-size: 23px;
}

#authorQuote {
  font-family: Arimo;
  font-size: 19px;
}

#arrow {
  grid-area: arrow;
}

#goalDiv {
  grid-area: goal;
  margin-top: 14px;
  line-height: 7em;
}
#goal {
  font-family: Chap Light;
  font-weight: normal;
  font-size: 107px;
  color: white;
}

/*********************
DESIGNERS ART SECTION
**********************/
.designersArt {
  background-color: black;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 5%;
  grid-template-rows: minmax(30vmin, auto) 40vmin minmax(400px, auto) minmax(20vmin, auto);
  /* grid-template-areas: 
    ". . . ."
    "lNav daHeader daDescription daArrow1"
    "1Nav daQuote daQuote ."
    "lNav daAuthor . ."
    "lNav . brandVoice daArrow2"; */
}

#border {
  grid-column: 1;
  grid-row: 1 / span 4;
  border-right: 1px solid white;
}

.designersArt h1 {
  margin-top: 40px;
  grid-column: 2;
  grid-row: 2;
  height: 15vmin;
  align-self: start;
  color: white;
  font-family: Arimo;
  font-weight: normal;
  font-size: 35px;
}

.designersArt p {
  grid-column: 3;
  grid-row: 2;
  align-self: start;
  text-align: left;
  /* grid-area: daDescription; */
  color: white;
  font-family: Arimo;
  font-size: 23px;
}

#arr1 {
  color: white;
  align-self: start;
  grid-column: 4;
}

#daBG {
  background-image: url('./images/webstrokebg.png');
  grid-column: 1 / span 4;
  grid-row: 3 / span 5;
  line-height: 6em;
}

#daBG h1{
  color: white;
  padding: 0;
  grid-row: 3;
  font-family: Chap Light;
  font-weight: normal;
  font-size: 110px;
  margin-top: 40px;
}

#daAuthor {
  grid-column: 2 / span 3;
  grid-row:4;
  font-size: 24px;
  font-family: Arimo;
  margin-left: 100px;
}

#buildBrand {
  grid-column: 3;
  grid-row: 4;
  align-self: end;
  font-family: Arimo;
  font-size: 34px;
}

#arr2 {
  grid-column: 3;
  grid-row: 4;
  align-self: end;
  justify-self: end;
}
/************************
DESIGN TRAINING SECTION
************************/

.designTraining {
  background-color: black;
}