@media (max-width: 1200px) {
    .previewHeading {
        color: blue;
        /* font-size: 24px; */
    }

    .previewBody {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 1200px) {
    .previewBody {
        grid-template-columns: min-content min-content;
        grid-template-rows: min-content min-content min-content;
    }

    .previewImage {
        width: 250px;
        grid-row: 1/span 2;
        justify-self: start;
    }

    .previewHeading {
        margin-top: 0;
        padding-left: 5px;
        grid-column: 2;
        justify-self: start;
    }

    .previewDescription {
        grid-column: 2;
        align-self: start;
        padding: 10px;
        grid-row: 2 / span 3;
    }
}

@media (max-width: 750px) {
    .previewBody {
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content;
    }
    .previewHeading {
        color: red;
    }

    .previewDescription {
        font-size: 14px;
        width:70%;
        justify-self: start;
    }

    .previewLink {
        grid-column: 2;
        justify-self: end;
        margin-right: 100px;
    }

}

@media (max-width: 600px) {
    .previewBody {
        grid-template-columns: min-content min-content;
        grid-template-rows: max-content max-content max-content;
        grid-gap: 5px;
    }

    .previewImage {
        grid-row: 1;
        margin-left: 10px;
        width: 80%;
    }

    .previewHeading {
        color: green;
        grid-column: 2;
        justify-self: start;
        margin-top: 0;
        font-size: 24px;
    }

    .previewDescription {
        grid-column: 1 / span 2;
        grid-row: 2;
        align-self: center;
        justify-self: start;
        font-size: 14px;
        margin-left: 10px;
        width: 80%;
    }
    
    .previewLink {
        grid-row: 3;
        align-self: start;
    }
}

@media (max-width: 550px) {
    .previewHeading {
        width: min-content;
    }
}

