@media(max-width: 1024px) {
    .aboutDesignersArt {
        font-size: 35px;
        font-family: Cerabasic;
        width: 100%;
        line-height: 40px;
        color: #D9D9D9;
    }

    .aboutDescription {
        font-size: 18px;
        width: 80%;
        margin-left: 80px;
        margin-right: 50px;
    }
}

@media (max-width: 680px) {
    .mySkillsHeading {
        margin-bottom: 40px;
    }
    .mySkillsList1 {
        grid-row: 5;
        grid-column: 1;
    }

    .mySkillsList2 {
        grid-row: 5;
        grid-column: 2;
    }
}

@media (max-width: 500px) {
    .aboutDesignersArt {
        grid-column: 1 / span 2;
    }
    
    .aboutDescription {
        grid-column: 1 / span 2;
        width: 70%;
    }

    .mySkillsDiv {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 480px) {
    .aboutDesignersArt {
        margin-left: 10px;
    }
}

@media (max-width: 467px) {
    .aboutDescription {
        width: 60%;
    }
}

@media (max-width: 409px) {
    .aboutDesignersArt {
        grid-column: 1 / span 2;
    }

    .aboutDescription {
        grid-column: 1 / span 2;
    }
}

@media (max-width: 400px) {
    .mySkillsDiv {
        grid-template-rows: repeat(3, min-content);
        grid-template-columns: 1fr;
    }

    .mySkillsHeading {
        grid-row: 1;
    }

    .mySkillsList1 {
        grid-row: 2;
        font-size: 18px;
        width: 80%;
    }

    .mySkillsList2 {
        grid-column: 1;
        grid-row: 3;
        justify-self: start;
        font-size: 18px;
        width: 80%;
    }
}

@media (max-width: 392px) {
    .aboutDescription {
        justify-self: start;
        margin-left: 40px;
    }
}

@media (max-width: 322px) {
    .aboutDescription {
        margin-left: 20px;
    }
}